/* .fab {
  position: fixed;
  bottom: 0px;
} */
.big-img {
  max-width: 70%;
  margin-bottom: 30px;
}

.para {
  font-size: 20px;
  opacity: 0.7;
  font-family: "Roboto";
}

.btn-md {
  width: 100%;
}

@media (min-width: 768px) {
  .btn-md {
    width: fit-content;
  }
}
@media (min-width: 992px) {
  .btn-md {
    width: fit-content;
  }
}
@media (min-width: 1200px) {
  .btn-md {
    width: fit-content;
  }
}
