@import url(https://fonts.googleapis.com/css?family=Roboto:100,400,300,700);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
}

/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-thumb {
  background: gray;
}

h2 {
  font-size: 20px !important;
  font-weight: 700 !important;
  font-family: "Roboto";
}

h1 {
  font-size: 36px !important;
  font-family: "Roboto";
  font-weight: 700 !important;
}

.r-btn {
  border: 2px solid #4e67eb;
  border-radius: 50px;
  padding: 12px 30px;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  background: #4e67eb;
  color: #fff;
  box-shadow: 0 5px 9px rgb(0 0 0 / 16%);
}
